table {
    width: 800px;
    border-collapse: collapse;
    }
th {
    color: blue;
    font-size: 40px;
    font-weight: bold;
}
.border-none {
    color: blue;;
    border: none;
}
.bg-yellow{
    background-color: yellow;
    border: 1px solid black;
}
.text-center{
    text-align: center;
}
.br-origin{
    text-align: center;
    background-color: orange;
}
.br-boder{
    border: 1px solid black;
    padding: 10px;
}
.boder-black{
    border: 1px solid black;
}